/* Form */
div.msg-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5em;

	width: 100%;
	padding-top: 0.25em;
}

/* Inputs, (Textarea) */
input,
textarea {
	font-size: 0.9em;
	padding: 0.4em 0.6em;
	border: 1px solid rgb(var(--gray-rgb));
	border-radius: var(--radius);
}

textarea {
	width: 100%;
	font-family: var(--sans);
}
